# Flask 
# Flask-CORS
# requests 
# beautifulsoup4 
# pdfkit 
# boto3
# wkhtmltopdf
# parse
# lxml
# fpdf
# pandas
# requests 
# python-docx 
# streamlit
# langchain-community
# langchain
# faiss-cpu
# python-docx 
# reportlab 
# pypdf
# langchain_aws 

aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aiosignal==1.3.2
altair==5.5.0
aniso8601==10.0.1
annotated-types==0.7.0
anyio==4.9.0
async-timeout==4.0.3
attrs==25.3.0
backoff==2.2.1
beautifulsoup4==4.13.4
blinker==1.9.0
boto3==1.38.30
botocore==1.38.30
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
cryptography==45.0.3
dataclasses-json==0.6.7
emoji==2.14.1
exceptiongroup==1.3.0
faiss-cpu==1.11.0
filetype==1.2.0
Flask==3.1.1
flask-cors==6.0.0
flask-restx==1.3.0
flask-swagger-ui==5.21.0
fpdf==1.7.2
frozenlist==1.6.2
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.2.2
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.0
idna==3.10
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
langchain==0.3.25
langchain-aws==0.2.24
langchain-community==0.3.24
langchain-core==0.3.63
langchain-text-splitters==0.3.8
langdetect==1.0.9
langsmith==0.3.44
lxml==5.4.0
MarkupSafe==3.0.2
marshmallow==3.26.1
multidict==6.4.4
mypy_extensions==1.1.0
narwhals==1.41.0
nest-asyncio==1.6.0
nltk==3.9.1
numpy==1.26.4
olefile==0.47
orjson==3.10.18
packaging==24.2
pandas==2.2.3
parse==1.20.2
pdfkit==1.0.0
pillow==11.2.1
propcache==0.3.1
protobuf==6.31.1
psutil==7.0.0
pyarrow==20.0.0
pycparser==2.22
pydantic==2.11.5
pydantic-settings==2.9.1
pydantic_core==2.33.2
pydeck==0.9.1
pypdf==5.6.0
python-dateutil==2.9.0.post0
python-docs==0.1.0
python-docx==1.1.2
python-dotenv==1.1.0
python-iso639==2025.2.18
python-magic==0.4.27
python-oxmsg==0.0.2
pytz==2025.2
PyYAML==6.0.2
RapidFuzz==3.13.0
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.1
requests==2.32.3
requests-toolbelt==1.0.0
rpds-py==0.25.1
s3transfer==0.13.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
streamlit==1.45.1
tenacity==9.1.2
toml==0.10.2
tornado==6.5.1
tqdm==4.67.1
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
unstructured==0.17.2
unstructured-client==0.36.0
urllib3==2.4.0
watchdog==6.0.0
webencodings==0.5.1
Werkzeug==3.1.3
wkhtmltopdf==0.2
wrapt==1.17.2
yarl==1.20.0
zstandard==0.23.0